<div id='main' style='background-image: url("https://lh3.googleusercontent.com/apkrLZZIkXBDEPugmayRlBHPse8JVnn3ocHNDJ9AaxVPTjf3mwa3DiGvRualK9Sn51ENYp_fn8EoY6X_cD7260tCKkJzMlELzwnbwu0n_kt_cwubGsjgvF_VkskdMT6J58zEeHH1uQKG5cJZsCjonj4bKI6h-SsZhWnyWeJ_vd0xvXa6rgt35On33C4Fp6GzxGX77D5SVz6B4inDDZDAABEkth1heEu3p-5tiYvUVSt-3wrDJSxWKkuHRaHBKxPQy86vE0VX-5IOxikIx-AFzQWf1zTAabe8LG16I4s1LKDUZ-8rph5KuxynvToOCGL87vQkecAGa8E1PxKwIfnCobFwWhCLvti2Z1iFplEUxdT1viUPxybPJS1LCtaUpD1eAvsVI26vUy3hpxvyF8K9PypKBaa4Y6jXId8zH7hNCQ8iyYxc-29Ap9lwgd4d9BFTyKluV-xAaJz8CH34__YFOFdT8ZsJ7S0lZfTx8DXCWd5pv7faF4Od5Y2XUAo0xPKjm1vVQk9-DW28JGk0WI7Wsg6WyZ6EmKFLTGTcM_bBDMfSZzxrkcRuPSt2hFUeqvi8gs-wEkDaVyropxuAFskLGaCx-sxZx-5WqYlLN_yLUFRP1H2NSamlzVwvjaSI6uNw02qmoX31iM4l-xRes96rNRvdVvwTy34ecjm55BRrPMlIRq0lZjYKXSD0yfDiQt1Ap8njzQDh244zTMjUalvoLo_oCg=w1108-h830-no?authuser=0")'>
    <div id='welcome-frame'>
        <div id='welcome'>Follow to stay up to date on all Miso activity!</div>
    </div>
</div>
<div class='sec'>
    <h1 style='margin-bottom: 40px;'>You do not want to miss out on Miso!</h1>
    <a class='learn' href='<%= sign_path() %>'>Sign Up</a>
</div>